/// <reference path="../_variables.scss" />

div.rating-stars {  
    cursor: pointer;

    .star {
        color: $color-rating-star;
    }

    .star.active {
        color: $color-rating-star-active;
    }
}