@model List<HumidorClient.Models.InventoryItem>

@{
    ViewData["Title"] = "Cigar Catalogue";
}

<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a asp-controller="Inventory" asp-action="Index">Inventory</a></li>
        <li class="divider"></li>
        <li><a asp-controller="Cigars" asp-action="Index">Admin</a></li>
    </ul>

    <div class="navbar">
        <nav class="brown lighten-2" role="navigation">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="dropdown1">Cigars</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main>
    <div> 
         <my-app>Loading...</my-app>
    </div>    
</main>