<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>@ViewBag.Title</title>
    <base href="/Home"/>
    
    <environment names="Development">
        <link rel="stylesheet" href="http://localhost:8000/dist/vendor.css" type="text/css"/>
    </environment>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    @RenderBody()
    <environment names="Development">
        <script type="text/javascript" src="http://localhost:8000/dist/polyfills.js"></script>
        <script type="text/javascript" src="http://localhost:8000/dist/vendor.js"></script>
        <script type="text/javascript" src="http://localhost:8000/dist/app.js"></script>
    </environment>
</body>
</html>