<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    <base href="/"/>

    <environment names="Development">
        <link rel="stylesheet" href="lib/materialize/dist/css/materialize.css" type="text/css"/>
        <link rel="stylesheet" href="css/site.min.css" type="text/css"/>
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
              asp-fallback-href="lib/materialize/dist/css/materialize.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>>
        <link rel="stylesheet" href="css/site.min.css" asp-append-version="true"/>
    </environment>

    <environment names="Development">
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/materialize/dist/js/materialize.js"></script>

        <script src="lib/npmlibs/core-js/shim.js"></script>
        <script src="lib/npmlibs/zone.js/zone.js"></script>
        <script src="lib/npmlibs/reflect-metadata/Reflect.js"></script>
        <script src="lib/npmlibs/systemjs/system.src.js"></script>

        <script src="app/systemjs.config.js"></script>
        <script>
            System.import('app').catch(function(err){ console.error(err); });
        </script>
    </environment>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>

<div>
    @RenderBody()
</div>
</body>
</html>