<div class="container">
    <div [hidden]="submitted">
        <form *ngIf="active"
              (ngSubmit)="onSubmit()"
              #heroForm="ngForm"
              novalidate>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       required minlength="4" maxlength="24"
                       [(ngModel)]="model.name" name="name"
                       #name="ngModel"/>
                <div *ngIf="name.errors && (name.dirty || name.touched)"
                     class="alert alert-danger">
                    
                    <div [hidden]="!name.errors.required">
                        Name is required.
                    </div>
                    
                    <div [hidden]="!name.errors.minlength">
                        Name must be at least 4 letters long.
                    </div>
                    
                    <div [hidden]="!name.errors.maxlength">
                        Name must be less than 25 letters long.
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <select class="form-control" id="country"
                        [(ngModel)]="model.country" name="country">
                    <option *ngFor="let country of countries">{{country}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="color">Color</label>
                <select class="form-control" id="country"
                        [(ngModel)]="model.color" name="color">
                    <option *ngFor="let color of colors">{{color}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="year">Manufacturing Year</label>
                <input class="form-control" id="year"
                       type="number"
                       [(ngModel)]="model.year" name="year"/>
            </div>

            <div class="form-group">
                <label for="number">Price</label>
                <input class="form-control" id="price"
                       type=""
                       [(ngModel)]="model.price" name="price"/>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description"
                          [(ngModel)]="model.description" name="description"></textarea>
            </div>

            <button type="submit" class="btn btn-default"
                    [disabled]="!heroForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default"
                    (click)="newCigar()">New Cigar</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3"><b>Name</b></div>
            <div class="col-xs-9">{{model.name}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3"><b>Country</b></div>
            <div class="col-xs-9">{{model.country}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3"><b>Color</b></div>
            <div class="col-xs-9">{{model.color}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3"><b>Manufacturing Year</b></div>
            <div class="col-xs-9">{{model.year}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3"><b>Price</b></div>
            <div class="col-xs-9">{{model.price}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3"><b>Description</b></div>
            <div class="col-xs-9">{{model.description}}</div>
        </div>
        <br />
        <button class="btn btn-default" (click)="submitted=false">Edit submission</button>
    </div>
</div>