/// <reference path="../_variables.scss" />

ul.side-nav {
    width: $side-nav-width;
}

ul.side-nav li > a.brand-logo {
    text-align: center;
    height: $logo-height;
    padding-top: $logo-height / 4;
}

ul.side-nav li {
    a {
        height: $side-nav-link-height;
        line-height: $side-nav-link-height;
    }
}