<table id="cigars-listing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Price</th>
      <th>Year</th>
      <th>Color</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cigar of cigars; let i = index" (click)="setClickedRow(i, cigar.id)">
      <td>{{cigar.name}}</td>
      <td>{{cigar.country}}</td>
      <td>{{cigar.priceAvg}}</td>
      <td>{{cigar.year}}</td>
      <td>{{cigar.color}}</td>
      <td>
        <humi-rating [rate]="cigar.ratingAvg"></humi-rating>
      </td>
    </tr>
  </tbody>
</table>