// Main colors 
$main-background-color: #FCFCFC;

$primary-color-dark:   #5D4037; // brown darken-2
$primary-color:        #795548; // brown
$primary-color-light:  #D7CCC8; // brown lighten-4
$primary-color-text:   #FFFFFF; // white
$accent-color:         #9E9E9E; // grey
$primary-text-color:   #212121; // grey darken-4
$secondary-text-color: #757575; // grey darken-1
$divider-color:        #B6B6B6; // grey lighten-1

// Supplementary colors
$color-rating-star:         #DDDDDD;
$color-rating-star-active:  #AAAAAA;

// Sizes
$logo-height: 128px;
$side-nav-width: 200px;
$side-nav-link-height: 44px;
