<div id="search-component">
    <div>
        <div class="brown lighten-4 grey-text text-darken-4">
            <h5>Humidor search</h5><input #searchBox (keyup)="search(searchBox.value)" />
        </div>

        <ul class="collection with-header">
            <li class="collection-item grey-text text-darken-1" *ngIf="!(cigars)?.length">
                No results
            </li>
            <li class="collection-item grey-text text-darken-1" *ngFor="let cigar of cigars" (click)="selectCigar(cigar)">
                {{cigar.name}}
                <rating [(rate)]="cigar.rating"></rating>
            </li>
        </ul>
    </div>
</div>