<div id="cigar-details">
    <h4>Cigar information:</h4>
    <div class="row">
        <div class="input-field">
            <input id="name" type="text" placeholder="Name" class="validate"
                   [(ngModel)]="cigar.name" />
            <label for="name" class="active">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input id="country" type="text" placeholder="Country" class="validate"
                   [(ngModel)]="cigar.country"/>
            <label for="country" class="active">Country</label>
        </div>
    </div>
    <div class="row">
        <rating [(rate)]="cigar.rating"></rating>
    </div>
    <button class="grey waves-effect waves-light btn" (click)="closePanel()">Close</button>
    <button class="grey waves-effect waves-light btn" (click)="save()">Save</button>
</div>