<div class="row">
    <div class="col s6">
        <!-- TODO move this to its own component. -->
        <ul class="collection with-header">
            <li class="collection-header brown lighten-4 grey-text text-darken-4">
                <h3>Top 5 cigars</h3></li>
            <li class="collection-item grey-text text-darken-1" *ngFor="let cigar of cigars" (click)="goToDetail(cigar)">
                {{cigar.name}}<i class="material-icons">mode_edit</i>
            </li>
        </ul>
    </div>
    <div class="col s6">
        <cigar-search></cigar-search>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <wiki-search></wiki-search>
    </div>
</div>