## Refresh with git rm -r --cached .

# Always allow gitignore files
!.gitignore

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Other local files
.vs/**

# Build and published files
[Pp]roperties/
[Bb]in/
[Oo]bj/

# Package manager folders
node_modules/
packages/

# Project.json related files
*project.lock.json
*project.fragment.lock.json

# Minified CSS & JS files
*.min.css
*.min.css.map
*.css.map
*.min.js

# The JS references file
_references.js

# Typings
[Tt]ypings/

# Client-side libraries and compiled files
[Ll]ib/
[Aa]pp/
[Cc]ss/

# Log files
*.log

# Karma reports
[Rr]eports/