/* reset styling snipper */
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
    background-color: lightgrey;
}

body {
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    background-color: white;
}