<div class="container">
    <alert *ngFor="let alert of alerts" [type]="alert.type" dismissible="true">
        {{alert?.msg}}
    </alert>
    <form (ngSubmit)="summarize()"
          #cigarFormRef="ngForm"
          novalidate>
        <div class="form-group">

            <label for="name">Name</label>
            <input type="text" class="form-control" id="name"
                   required minlength="4" maxlength="24"
                   [(ngModel)]="cigar.name" name="name"/>

            <div *ngIf="formErrors.name"
                 class="alert alert-danger">
                {{formErrors.name}}
            </div>
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" id="country"
                    required
                    [(ngModel)]="cigar.country" name="country">
                <option *ngFor="let country of countries">{{country}}</option>
            </select>
            <div *ngIf="formErrors.country"
                 class="alert alert-danger">
                {{formErrors.country}}
            </div>
        </div>

        <div class="form-group">
            <label for="color">Color</label>
            <select class="form-control" id="country"
                    [(ngModel)]="cigar.color" name="color">
                <option *ngFor="let color of colors">{{color}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="year">Manufacturing Year</label>
            <input class="form-control" id="year"
                   type="number"
                   required pattern="[0-9]{4}"
                   [(ngModel)]="cigar.year" name="year"/>
            <div *ngIf="formErrors.year"
                 class="alert alert-danger">
                {{formErrors.year}}
            </div>
        </div>

        <div class="form-group">
            <label for="number">Price</label>
            <input class="form-control" id="price"
                   type="number"
                   required
                   [(ngModel)]="cigar.price" name="price"/>
            <div *ngIf="formErrors.price"
                 class="alert alert-danger">
                {{formErrors.price}}
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description"
                      [(ngModel)]="cigar.description" name="description"></textarea>
        </div>

        <div class="form-group">
            <div *ngFor="let status of statuses">
                <input [id]="status"
                       name="status"
                       ngModel
                       [value]="status"
                       type="radio"/>
                <label [attr.for]="status">{{status}}</label>
            </div>
        </div>

        <button type="button" class="btn btn-default"
                (click)="back()">Back</button>
        <button type="submit" class="btn btn-default">Next</button>
    </form>
</div>