<h2>Summary</h2>
<div class="row">
    <div class="col-xs-3"><b>Name</b></div>
    <div class="col-xs-9">{{cigar?.name}}</div>
</div>
<div class="row">
    <div class="col-xs-3"><b>Country</b></div>
    <div class="col-xs-9">{{cigar?.country}}</div>
</div>
<div class="row">
    <div class="col-xs-3"><b>Color</b></div>
    <div class="col-xs-9">{{cigar?.color}}</div>
</div>
<div class="row">
    <div class="col-xs-3"><b>Manufacturing Year</b></div>
    <div class="col-xs-9">{{cigar?.year}}</div>
</div>
<div class="row">
    <div class="col-xs-3"><b>Price</b></div>
    <div class="col-xs-9">{{cigar?.price}}</div>
</div>
<div class="row">
    <div class="col-xs-3"><b>Description</b></div>
    <div class="col-xs-9">{{cigar?.description}}</div>
</div>
<br />
<button class="btn btn-default" (click)="back()">Back</button>
<button class="btn btn-default" (click)="confirm()">Confirm</button>